---
import Naviguation from '../components/Naviguation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import '../styles/global.css';

const pageTitle = "À propos de moi";

const identity = {
  firstName: "Angelo",
  country: "Canada",
  occupation: "Rédactrice technique",
  hobbies: ["photographie", "observation des oiseaux", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Rédaction de documentation"];
---

<BaseLayout pageTitle={pageTitle}>
    <p>Voici quelques faits me concernant :</p>
    <ul>
        <li>Je m'appelle {identity.firstName}.</li>
        <li>Je vis au {identity.country} et je travaille en tant que {identity.occupation}.</li>
        {identity.hobbies.length >= 2 &&
            <li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
        }
    </ul>

    <p>Voici mes compétences :</p>
    <ul>
        {skills.map((skill) => <li>{skill}</li>)}
    </ul>
</BaseLayout>
